/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* Invoice send modal  */
.send-invoice-backdrop-modal {
	background: rgb(34 41 47 / 10%) !important;
}

.send-invoice-modal {
	.modal-content {
		box-shadow: unset;
	}
}
/* /Invoice send modal  */

/* Calendar */
.fc-not-allowed,
.fc-not-allowed .fc-event {
	/* override events' custom cursors */
	cursor: auto !important;
}

$calendar-night-color: rgb(215 215 215 / 34%);

.fc-timegrid-slot.fc-timegrid-slot-lane {
	&[data-time^="06:"] {
		background-color: $calendar-night-color;
	}
	&[data-time^="07:"] {
		background-color: $calendar-night-color;
	}
	&[data-time^="17:"] {
		background-color: $calendar-night-color;
	}
	&[data-time^="18:"] {
		background-color: $calendar-night-color;
	}
	&[data-time^="19:"] {
		background-color: $calendar-night-color;
	}
	&[data-time^="2"] {
		background-color: $calendar-night-color;
	}
}
/* Calendar */

.main-menu:not(.expanded) .navigation li.nav-item a:hover > * {
	transform: none;
}

.time-tracking {
	width: 200px;
}

/* Bootstrap table override */
.placeholder-table {
	th,
	td {
		padding: 0.72rem 1.5rem;
	}
}

.time-tracking-draggable {
	position: absolute;
	z-index: 1;
}

/* /Bootstrap table override */

/* Timeline */
.timeline-card {
	transition: all 0.2s ease;

	&:hover {
		transform: scale(1.1);
	}
}
/* /Timeline */

/* Email module */
/* Email odd even reply */
$email-dark-background-color: #7367f0;
$email-dark-background-font-color: #ffffff;
.odd-even-reply {
	.card {
		background: $email-dark-background-color !important;
		color: $email-dark-background-font-color !important;

		h5,
		a,
		span {
			color: $email-dark-background-font-color !important;
		}

		.mail-toggle-three-dot {
			summary {
				border: 1px solid $email-dark-background-font-color !important;

				&:after {
					color: $email-dark-background-font-color !important;
				}
			}

			p,
			div,
			span {
				color: $email-dark-background-font-color !important;
			}
		}

		.gmail_signature {
			p,
			div,
			span {
				color: $email-dark-background-font-color !important;
			}
		}

		.gmail_quote {
			div,
			p,
			span {
				color: $email-dark-background-font-color !important;
			}
		}
	}
}
/* /Email odd even reply */

.mail-message {
	/* Email toggle action collapse, expand */
	.mail-toggle-three-dot {
		margin-top: 5px;

		summary {
			display: inline-block;
			border: 1px solid #7367f0;
			border-radius: 10px;
			height: 18px;

			&::marker {
				font-size: 0;
			}

			&:after {
				content: "...";
				padding: 0px 10px;
				font-size: 18px;
				position: relative;
				top: -5px;
				line-height: 1;
				height: 21px;
				display: inline-block;
				vertical-align: top;
				color: #7367f0;
				font-weight: bold;
			}
		}
	}
	/* /Email toggle action collapse, expand */

	.gmail_quote {
		#gmail_attr {
			display: none;
		}
	}
}
/* Email module */

/* User module */
.user-detail-email {
	.sidebar-left {
		width: 25% !important;

		.sidebar-content {
			&.email-app-sidebar {
				width: 100% !important;
			}
		}
	}

	.content-right {
		width: 75% !important;

		.email-app-details {
			&.show {
				width: calc(100% - 25%) !important;
			}
		}
	}
}

.user-detail-chat {
	.sidebar-left {
		width: 35% !important;

		.sidebar-content {
			width: 100% !important;

			.chat-fixed-search {
				width: 100% !important;
			}

			.scrollbar-container {
				&.chat-user-list-wrapper {
					width: 100% !important;
				}
			}
		}
	}

	.content-right {
		width: 65% !important;
	}
}

.user-detail-todo {
	.sidebar-left {
		width: 30% !important;

		.sidebar-content {
			&.todo-sidebar {
				width: 100% !important;
			}
		}
	}

	.content-right {
		width: 70% !important;
	}
}

.user-detail-file-manager {
	.sidebar-left {
		width: 30% !important;

		.sidebar-file-manager {
			width: 100% !important;
		}
	}

	.content-right {
		width: 70% !important;
	}
}
/* /User module */
